<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="header">
  <div class="container d-none d-lg-block">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
      <div
          class="d-flex align-items-center  mb-md-0 me-md-auto col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto ">
        <input type="search" id="header-search" class="form-control" placeholder="Search..." aria-label="Search">

      </div>
      <ul class="nav nav-pills d-flex text-end">
        <li class="nav-item"><a href="#" id="home" class="nav-link active"
                                aria-current="page">首页</a></li>
        <li class="nav-item"><a href="/" class="nav-link">登录</a></li>
      </ul>
    </header>
  </div>
</div>
</body>
</html>